.lecture-page {
  max-width: 62rem;
  margin: 2.5rem auto;
  padding: 0 1rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* =========================
   Blocs principaux
========================= */

.infos,
.lectures {
  padding: 1.5rem;

  background: #fff;
  border: 1px solid yellow;
  border-radius: 0.625rem;
}

/* =========================
   Titres
========================= */

.infos h2,
.lectures h2 {
  margin: 0 0 1.5rem;

  font-size: 1.25rem;
  font-weight: 600;
  color: #222;
}

/* =========================
   Formulaire
========================= */

.infos form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.fields-row {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.fields-row > * {
  flex: 1;
  min-width: 11.25rem;
}

.fields-row .form-field {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 1rem;
}

.fields-row .form-field label {
  font-size: 1rem;
  color: #333;
  font-weight: 500;
}

.fields-row .form-field input {
  padding: 10px 12px;
  border: 1px solid #d0d0d0;
  border-radius: 6px;
  font-size: 14px;
  outline: none;
  /* background-color: #fff; */
  transition:
    border-color 0.2s ease,
    box-shadow 0.2s ease;
}

/* =========================
   Bloc lectures
========================= */

.lectures {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

/* =========================
   Boutons
========================= */

.infos button,
.lectures button {
  align-self: center;

  padding: 0.625rem 1.25rem;

  border: none;
  border-radius: 0.375rem;

  background-color: #1e9100;
  color: #fff;

  font-size: 0.875rem;
  cursor: pointer;

  transition:
    background-color 0.2s ease,
    transform 0.2s ease;
}

.infos button:hover,
.lectures button:hover {
  background-color: #166d00;
  transform: translateY(-1px);
}

.infos button:active,
.lectures button:active {
  transform: translateY(0);
}

.btn-style {
  align-self: center;
  padding: 0.625rem 1.25rem;
  border: none;
  border-radius: 0.375rem;
  background-color: #1e9100;
  color: #fff;
  font-size: 0.875rem;
  cursor: pointer;
  transition:
    background-color 0.2s ease,
    transform 0.2s ease;
}
