.layout {
  /* display: flex; */
  min-height: 100vh;
}

.main-content {
  margin-left: 15rem;

  min-height: 100vh;

  display: flex;
  flex-direction: column;
}
.main-content main {
  flex: 1;

  padding: 1rem;
}

/* Mobile */
@media (max-width: 768px) {
  .main-content {
    margin-left: 0;
  }

  .main-content main {
    padding: 0.75rem;
  }
}
